@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden;
  }
  #cv-preview, #cv-preview * {
    visibility: visible;
  }
  #cv-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: none !important;
    border: none !important;
  }
}
